@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E5E7EB;
  --foreground: #272A27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272A27;
    --foreground: #E5E7EB;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
