REQUIREMENTS
    -Header 
        -Responsive design. Navigation bar will resize on mobile screens (sm: breakpoint in tailwind) and render a modal button.
        -Navigation bar- fixed to the top of the page. (Nextjs Link component for client-side navigation)
            -Overview/Home
                -Clicking on photos opens a fullscreen lightbox  
            -Projects
                -scrollable grid of images
                -images display text on hover
                -clickable links to individual project galleries
                    -each gallery has a text/carousel/thumbnail option
            -Film Photography
                -masonry grid of photos (React-masonry-css)
                -clicking on photos will open a full-page lightbox (lightGallery)
            -About
                -single page, text, single image (self-portrait)
            -Contact me
                -Links to email, instagram, PDF dowload of portfolio
    -footer contact info
    -transitions between pages / on photos loading in with Headless UI
    -Where are our images kept?
        -Begin with fetching from Unsplash API (random images)
        -Refactor for a backend server with images stored on Mongo DB
